body{
    background-color: skyblue;
}
#map_desktop {
    height: 0px;
    width: 0px;
    display: none;
  
  }
  #map1{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map2{
    height: 0px;
    width: 0px;
    display: none;
  }
  
  #map3{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map4{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map5{
    height: 0px;
    width: 0px;
    display: none;
  }

  #hol_display {
    display: flex;
  }
  .hol_image {
    display: flex;
  }

  /*#site_info{
    height: 200px;
    width: 400px;
    display: block;
  }*/

  /*mobile phone media query */
  @media (max-width: 480px) {
   
    #hero{
      padding-left: 10px;
    }

    .hol_image{
      flex-direction: column;

    }
    #hol_display{
      flex-direction: column;
    }
    .hero-content{
      padding-left: 10px;
    }
    #booking_form {
      padding-left: 10px;
      
    }
    #About{
      padding-left: 10px
    }

    #site_design {
      padding-left: 10px
    }
    #external_res{
      padding-left: 10px
    }
    #Contact{
    
      padding-left: 10px
    }
   
   
  }

  /* laptop/desktop media query */
  @media (min-width: 1025px){

    .hol_image {
      flex-direction: row;
      
  
    }
    #hol_display{
      flex-direction: row;
    }
    .hol_ski{
      padding-right: 10px;
     
    }
    .hol_beach{
      padding-right: 10px;
    }
    .hol_city{
      padding-right: 10px;
    }
    p{
      color: black;
      font-size: 1em;
      text-align: left;
     
    }
    #hero {
      padding-left: 150px
    }

    .hero-content{

      padding-left: 150px

    }
    #booking_form {
      padding-left: 150px;
      margin-top: 50px;
    }
    #About{
      padding-left: 150px
    }

    #site_design {
      padding-left: 150px
    }
    #external_res{
      padding-left: 150px
    }
    #Contact{
    
        padding-left: 150px
    }
    #desktop_container{
        margin-bottom: 50px;
    }
    #book_button{
        margin-top: 10px;
    }

  }

  
  