body{
    background-color: skyblue;
}
#map_desktop {
    height: 0px;
    width: 0px;
    display: none;
  
  }
  #map1{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map2{
    height: 0px;
    width: 0px;
    display: none;
  }
  
  #map3{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map4{
    height: 0px;
    width: 0px;
    display: none;
  }
  #map5{
    height: 0px;
    width: 0px;
    display: none;
  }
  